form.post,
ul.messages {
	width: 30em;
	margin: auto;
	list-style: none;
	padding-left: 0;
}

ul.messages {
	display: flex;
	flex-direction: column-reverse;
}

form.post,
ul.messages li {
	box-sizing: border-box;
	padding: 1em;
	border:  1px solid rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.89);
}

form.post,
ul.messages li {
	margin-top: 2em;
}

ul.messages {
	margin-bottom: 2em;
}

form.post,
section.header,
ul.messages li {
	box-shadow: 0em 0.5em 0.5em rgba(0,0,0,0.45);
}

section.body {
	position: relative;
}

form.post {
	display: flex;
	margin-top: 2em;
}

form.post input[type="text"] {
	margin-right: 0.5em;
	display: block;
	width: 100%;
	font-size: 1.25em;
	flex; 1;
}

ul.messages li:not([data-type^="text"]) .body.short {
	display: none;
}

ul.messages li section:not(:last-child) {
	margin-bottom: 0.5rem;
}

ul.messages li section:last-child {
	text-align: right;
	font-size: 0.75rem;
}

div.avatar {
	display: inline-block;
	border: 1px solid black;
	border-radius: 50%;
	background-image: url(/avatar.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1.75em;
	height: 1.75em;
}

section.author {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	font-weight: bold;
}

span.author {
	line-height: 2rem;
	margin-left: 0.5rem;
}

span.author,
ul.messages li span.body {
	font-family: sans;
}

ul.messages li[data-type^="text/plain"] span.body {
	font-size: 1.35rem;
	white-space: pre-wrap;
}

ul.messages li pre {
	margin-bottom: 0;
	margin-top: 0;
}

section.reaction-bar {
	font-size: 0.75em;
}

section.reaction-bar a {
     color: blue;
}

ul.messages li span.author a {
	text-decoration: none;
	color: black;
}

ul.messages li.verify-failed span.author a:after {
	content:  '?';
}

ul.messages li {
	transition: opacity 0.5s ease-in, filter 0.25s ease-in;
}

ul.messages li.verify-pending {
	opacity: 0.75;
	filter: blur(1px);
}

ul.messages li.verify-failed {
	background-color: rgba(128,64,64,0.75);
	opacity: 0.95;
}

ul.messages li.verified {
	opacity: 1;
}

ul.messages li.verified .verify.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	background-image: url(/lock-verified.svg);
	background-size: contain;
}

ul.messages .body.image img {
	width: 100%;
}
