html {
	font-family: sans-serif;
}

h1 {
	padding: 0;
	font-size: 1.85rem;
}

.box-trim {
	box-sizing: border-box;
	padding: 1em;
	border:  1px solid rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.89);
	box-shadow: 0em 0.5em 0.5em rgba(0,0,0,0.45);
}

.main-rule {
	width: 30em;
	margin: auto;
	margin-top: 2em;
}

section.app {
	background-attachment: fixed;
	background-size: cover;	
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

section.app.theme-red-dots {
	background-image: url(/abstract-gathering.jpg);
}

section.app.theme-maple-tree {
	background-image: url(/maple-backdrop.jpg);	
}

section.header,
section.footer {
	background-color: black;
	color: white;	
}

section.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
}

section.footer {
	padding: 1em;
	height: 8em;
	/*margin-top: 8em;*/
	text-align: right;
	font-size: 0.75em;
	color: rgba(255, 255, 255, 0.75);
	margin-bottom: 0;
}

section.body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

section.header a {
	color: white;
}

section.header h1 a {
	text-decoration: none;
}

section.header .branding {
	padding:  1rem;
}

section.header .nav {
	flex-grow: 1;
	text-align: right;
}

section.header .nav a {
	margin-left: 0.75em;
}

section.header .menu {
	flex-grow: 0;
	text-align: right;
	padding:  1em;
}

section.header img.icon {
	filter: invert(1);
}

img.icon {
	width: 1.25em;
	height: 1.25em;
	vertical-align: middle;
	margin-left: 0.5em;
	display: inline-block;
}

form.post,
ul.messages > li {
	backdrop-filter: blur(10px);
}

section.pay-bar .submit button,
form.post input {
	padding: 0.25rem;
}

form.post input[type="text"] {
}

section.controls {
	position: sticky;
	top: 84px;
	z-index: 100;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #050;
	padding: 1em;
}

section.controls a {
	color: white;
	background-color: rgba(0,0,0,0.75);
	padding: 0.5em;
}

.controls:empty {
	display: none;
}

section.pay-bar {
	position: sticky;
	top: 136px;
	z-index: 100;
}

section.pay-bar {
	width: 30em;
	margin: auto;
}

section.pay-bar .submit {
	background-color: white;
	padding: 1rem;
	border:  1px solid rgba(0,0,0,0.5);
	display: flex;
	justify-content: flex-end;
}

section.pay-bar .braintree-dropin .braintree-upper-container {
	box-shadow: 0em 0.5em 0.5em rgba(0,0,0,0.45);
}

.xx-large {
	font-size: 2rem;
}

.donate-label {
	margin-right: 1rem;
}

.donate input[type="number"] {
	background-color: transparent;
	border:  0;
	width:  100%;
	text-align: right;
	font-size: 2rem;
}

.bottom-line {
	border-bottom: 1px solid black;
}

.donate input[type="range"] {
	width: 100%
}

div.right {
	text-align: right;
}

div.rows.centered {
	align-items: center;
}

div.cols.centered {
	justify-content: center;
}

div.rows {
	display: flex;
	flex-direction: column;
}

div.cols {
	display: flex;
	flex-direction: row;
}
