/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.cm-s-elegant span.cm-number, .cm-s-elegant span.cm-string, .cm-s-elegant span.cm-atom { color: #762; }
.cm-s-elegant span.cm-comment { color: #262; font-style: italic; line-height: 1em; }
.cm-s-elegant span.cm-meta { color: #555; font-style: italic; line-height: 1em; }
.cm-s-elegant span.cm-variable { color: black; }
.cm-s-elegant span.cm-variable-2 { color: #b11; }
.cm-s-elegant span.cm-qualifier { color: #555; }
.cm-s-elegant span.cm-keyword { color: #730; }
.cm-s-elegant span.cm-builtin { color: #30a; }
.cm-s-elegant span.cm-link { color: #762; }
.cm-s-elegant span.cm-error { background-color: #fdd; }

.cm-s-elegant .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-elegant .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }

.about-me {
	box-sizing: border-box;
	padding: 1em;
	border:  1px solid rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.89);

	width: 30em;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.about-me .author span.author {
	margin-left: 1em;
	margin-top:  0.5em;
}

.about-me .author span.author a.user-name {
	font-size: 1.75rem;
	text-decoration: none;
	color: black;
}

.about-me .author .avatar {
	flex-shrink: 0;
	width: 5rem;
	height: 5rem;
}

.about-me .author .avatar {}

.block-text {
	word-wrap: break-word;
	font-size: 0.75rem;
	font-family: monospace;
	border:  1px solid rgba(0,0,0,0.5);
	padding:  0.5rem;
}
button.flat-black,
.black-button,
section.pay-bar .submit button,
form.post input[type="submit"],
form.post input[type="button"] {
	background-color: black;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.65em;
	font-weight: bold;
	border: 0;
	/*border-radius: 5px;*/
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	min-height: 35px;
}

section.installer svg g.checkmark {
	opacity: 0;
}

section.installer svg.checkmark g.checkmark {
	opacity: 1;
}

section.installer svg g.checkmark line {
	stroke-dasharray: calc(var(--percent) * 100), 100;
	stroke-width: 3;
	stroke: black;
}

section.installer svg circle {
	transition: stroke-dasharray ease-out 0.375s 0.5s;
}

section.installer svg.hide circle {
	transition: stroke-dasharray ease-out 0.375s 0.5s;
}

section.installer svg.hide g.checkmark line:nth-child(1) {
	transition: stroke-dasharray ease-out 0.25s 0.25s;
}

section.installer svg.hide g.checkmark line:nth-child(2) {
	transition: stroke-dasharray ease-out 0.25s;
}

section.installer svg.show circle {
	transition: stroke-dasharray ease-out 0.375s;
}

section.installer svg.show g.checkmark line:nth-child(1) {
	transition: stroke-dasharray ease-out 0.25s 0.25s;
}

section.installer svg.show  g.checkmark line:nth-child(2) {
	transition: stroke-dasharray ease-out 0.25s 0.50s;
}

section.installer svg.checkmark.hide {
	--percent: 0;
}

section.installer svg.checkmark.show {
	--percent: 1;
}

section.installer svg g.crossmark {
	opacity: 0;
}

section.installer svg.crossmark g.crossmark {
	opacity: 1;
}

section.installer svg g.crossmark line {
	transform-origin: center;
	stroke-dasharray: calc(var(--percent) * 100), 100;
	stroke-width: 3;
	stroke: black;
}

section.installer svg circle {
	transition: stroke-dasharray ease-out 0.375s 0.5s;
}

section.installer svg.hide circle {
	transition: stroke-dasharray ease-out 0.375s 0.5s;
}

section.installer svg.hide g.crossmark line:nth-child(1) {
	transform: rotate(-45deg);
	transition:
		stroke-dasharray ease-out 0.25s 0.25s
		, transform 0.25s ease-in;
}

section.installer svg.hide g.crossmark line:nth-child(2) {
	transform: rotate(45deg);
	transition:
		stroke-dasharray ease-out 0.25s
		, transform 0.25s ease-in;
}

section.installer svg.show circle {
	transition: stroke-dasharray ease-out 0.375s;
}

section.installer svg.show g.crossmark line:nth-child(1) {
	transition: stroke-dasharray ease-out 0.25s 0.25s;
	transform: rotate(-45deg);
}

section.installer svg.show  g.crossmark line:nth-child(2) {
	transition: stroke-dasharray ease-out 0.25s 0.50s;
	transform: rotate(45deg);
}

section.installer svg.crossmark.hide {
	--percent: 0;
}

section.installer svg.crossmark.show {
	--percent: 1;
}

section.installer svg circle {
	--radius:  40;
	r: var(--radius);
}

section.installer svg.spinner {
	animation: turn-forever 1s linear infinite;
}

section.installer svg.spinner circle {
	transition: stroke-dasharray ease-out 0.375s;
	transform-origin: center;
	animation:
		spin-forever 2s linear infinite,
		flip-forever 2s steps(1) infinite;
}

@keyframes spin-forever {
	from {
		stroke-dasharray: 100, 100;
	}
	50% {
		stroke-dasharray: 0, 100;
	}
	to {
		stroke-dasharray: 100, 100;
	}
}

@keyframes turn-forever {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(720deg);
	}
}

@keyframes flip-forever {
	from {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(-1);
	}
	to {
		transform: scaleY(1);
	}
}

section.installer svg circle {
	stroke-dasharray: calc(var(--percent) * 100), 100;
}

section.installer svg.none circle {
	opacity: 0;
}

section.installer {
	background-image: url(/installer-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	position: absolute;
	background-color: white;
	width: 100%;
	height: 100%;
	display: flex;
}

section.installer div.rule {
	margin: auto;
	background-color: rgba(255,255,255,0.5);
	backdrop-filter: blur(4px);
	box-shadow: 0rem 1rem 1rem rgba(0,0,0,0.25);
	padding: 1rem;
	min-width: 480px;
	min-height: 200px;
}

section.installer input[type="text"] {
	border: none;
	border-bottom: 1px solid black;
}

.heroku-button {
	background-color: #6762a6 !important;
}

section.installer div.overlay {
	background-color: rgba(255,255,255,0.25);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	transition: opacity 0.5s ease-in;
	opacity: 1;
}

section.installer div.overlay.hide {
	pointer-events: none;
	opacity: 0;
}

section.installer div.modal {
	margin: auto;
}

section.donate,
form.post,
ul.messages {
	width: 30em;
	margin: auto;
}

ul.comments,
ul.messages {
	list-style: none;
	padding-left: 0;
}

section.comments form {
	display: flex;
	flex-direction: row;
}

section.comments input[type="text"] {
	flex: 1;
}

section.comments input[type="submit"] {
	font-size: 0.65em;
	border: 0;
	border-radius: 0;
	margin-left: 0.5em;
	background-color: #222;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

section.comments span.author {
	font-size: 0.75em;
	font-weight: 600;
}

section.comments .icon {
	height: 2em;
	margin-left: 0;
	margin-right: 0.5em;
}

ul.comments li {
	padding-top: 1em;
	padding-bottom: 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

ul.comments li div.text {
	margin-top:    auto;
	margin-bottom: auto;
	margin-right:  1em;
	margin-left:   1em;
}

ul.comments li:not(:first-child) {
	border-bottom: 1px solid #ccc;
}

ul.comments {
	display: flex;
	flex-direction: column-reverse;
}

ul.messages {
	display: flex;
	flex-direction: column;
}

section.donate {
	margin-top: 1em;
}

section.donate,
form.post,
ul.messages > li {
	box-sizing: border-box;
	padding: 1em;
	border:  1px solid rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.89);
	overflow: hidden;
}

form.post,
ul.messages > li {
	margin-top: 2em;
}

ul.messages {
	margin-top: 0em;
	margin-bottom: 2em;
}

form.post,
section.header,
ul.messages > li {
	box-shadow: 0em 0.5em 0.5em rgba(0,0,0,0.45);
}

section.body {
	position: relative;
}

form.post {
	display: flex;
	margin-top: 2em;
}

form.post input[type="text"] {
	margin-right: 0.5em;
	display: block;
	width: 100%;
	font-size: 1.25em;
	flex; 1;
}

ul.messages > li section:not(:last-child) {
	margin-bottom: 0.5rem;
}

ul.messages > li section.comments {
	text-align: right;
	margin-top: 1.5em;
}

ul.messages > li section:last-child {
	text-align: right;
	font-size: 0.75rem;
}

div.avatar {
	display: inline-block;
	border: 1px solid black;
	border-radius: 50%;
	background-image: var(--avatar, url('/avatar.jpg'));
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 3em;
	height: 3em;
}

section.comments div.avatar {
	flex-shrink: 0;
	width: 2.5em;
	height: 2.5em;
}

section.author {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	/*justify-content: center;*/
	font-weight: bold;
}

span.author {
	margin-left: 0.5rem;
}

span.author > *{
	line-height: 2.75em;
}

span.author a {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}

span.author,
ul.messages > li span.body {
	font-family: sans;
}

ul.messages span.body.text {
	font-size: 1.35rem;
	white-space: pre-wrap;
}

ul.messages > li pre {
	margin-bottom: 0;
	margin-top: 0;
}

section.reaction-bar {
	font-size: 0.75em;
}

section.reaction-bar a {
     color: blue;
}

ul.messages > li span.author a {
	text-decoration: none;
	color: black;
}

ul.messages > li.verify-failed span.author a:after {
	content:  '?';
}

ul.messages > li {
	transition: opacity 0.5s ease-in, filter 0.25s ease-in;
}

ul.messages > li.verify-pending {
	opacity: 0.75;
	filter: blur(1px);
}

ul.messages > li.verify-failed {
	background-color: rgba(128,64,64,0.75);
	opacity: 0.95;
}

ul.messages > li.verified {
	opacity: 1;
}

ul.messages > li.verified .verify.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	background-image: url(/lock-verified.svg);
	background-size: contain;
}

ul.messages .body img,
ul.messages .body audio,
ul.messages .body video,
ul.messages .body iframe {
	width: 100%;
}

ul.messages .body iframe {
	height: 18rem;
}

.controls > span > a {
	margin-left: 0.5em;
}

html {
	overflow-y: scroll;
}

html, body {
	min-height: 100vh;
}

html, body, h1 {
	margin: 0;
	padding: 0;
}

section.settings {
	display: block;
	position: absolute;

	background-color: white;
	border:  black;

	top: 2rem;
	right: 0;
	z-index: 1;

	box-shadow: 0em 0.5em 0.5em rgba(0,0,0,0.45);
	box-sizing: border-box;
	padding: 1em;
	border:  1px solid rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.89);
}

section.settings h2 {
	margin: 0;
}

section.settings div.button-row {
	display: flex;
	flex-direction: row;
}

section.settings div.button-row button {
	width: 100%;
	border: 0;
	font-size: 2rem;
	color: white;
	background-color: #333;	
}

section.settings div.button-row button:nth-child(2n) {
	background-color: #666;
}

section.settings button {
	cursor: pointer;	
}

section.settings.remove-mode button.add {
	pointer-events: none;
	opacity: 0;
}

section.settings:not(.remove-mode) img.delete-button {
	pointer-events: none;
	opacity: 0;
}

section.settings img.delete-button {
	cursor: pointer;
	align-self: center;
}

html {
	font-family: sans-serif;
}

h1 {
	padding: 0;
	font-size: 1.85rem;
}

.box-trim {
	box-sizing: border-box;
	padding: 1em;
	border:  1px solid rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.89);
	box-shadow: 0em 0.5em 0.5em rgba(0,0,0,0.45);
}

.main-rule {
	width: 30em;
	margin: auto;
	margin-top: 2em;
}

section.app {
	background-attachment: fixed;
	background-size: cover;	
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

section.app.theme-red-dots {
	background-image: url(/abstract-gathering.jpg);
}

section.app.theme-maple-tree {
	background-image: url(/maple-backdrop.jpg);	
}

section.header,
section.footer {
	background-color: black;
	color: white;	
}

section.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
}

section.footer {
	padding: 1em;
	height: 8em;
	/*margin-top: 8em;*/
	text-align: right;
	font-size: 0.75em;
	color: rgba(255, 255, 255, 0.75);
	margin-bottom: 0;
}

section.body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

section.header a {
	color: white;
}

section.header h1 a {
	text-decoration: none;
}

section.header .branding {
	padding:  1rem;
}

section.header .nav {
	flex-grow: 1;
	text-align: right;
}

section.header .nav a {
	margin-left: 0.75em;
}

section.header .menu {
	flex-grow: 0;
	text-align: right;
	padding:  1em;
}

section.header img.icon {
	filter: invert(1);
}

img.icon {
	width: 1.25em;
	height: 1.25em;
	vertical-align: middle;
	margin-left: 0.5em;
	display: inline-block;
}

form.post,
ul.messages > li {
	backdrop-filter: blur(10px);
}

section.pay-bar .submit button,
form.post input {
	padding: 0.25rem;
}

form.post input[type="text"] {
}

section.controls {
	position: sticky;
	top: 84px;
	z-index: 100;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #050;
	padding: 1em;
}

section.controls a {
	color: white;
	background-color: rgba(0,0,0,0.75);
	padding: 0.5em;
}

.controls:empty {
	display: none;
}

section.pay-bar {
	position: sticky;
	top: 136px;
	z-index: 100;
}

section.pay-bar {
	width: 30em;
	margin: auto;
}

section.pay-bar .submit {
	background-color: white;
	padding: 1rem;
	border:  1px solid rgba(0,0,0,0.5);
	display: flex;
	justify-content: flex-end;
}

section.pay-bar .braintree-dropin .braintree-upper-container {
	box-shadow: 0em 0.5em 0.5em rgba(0,0,0,0.45);
}

.xx-large {
	font-size: 2rem;
}

.donate-label {
	margin-right: 1rem;
}

.donate input[type="number"] {
	background-color: transparent;
	border:  0;
	width:  100%;
	text-align: right;
	font-size: 2rem;
}

.bottom-line {
	border-bottom: 1px solid black;
}

.donate input[type="range"] {
	width: 100%
}

div.right {
	text-align: right;
}

div.rows.centered {
	align-items: center;
}

div.cols.centered {
	justify-content: center;
}

div.rows {
	display: flex;
	flex-direction: column;
}

div.cols {
	display: flex;
	flex-direction: row;
}

.motif-box {
	border:  1px solid rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.89);
	box-shadow: 0em 0.5em 0.5em rgba(0,0,0,0.45);
	padding: 1em;
}

.motif-rule {
	width: 30em;
	margin-top: 2em;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.motif-alert:empty {
	display: none;
}

.motif-alert {
	border: 1px solid black;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	background: #666;
	font-weight: bold;
	color: #FFF;
}

.motif-alert-success {
	background-color: #4B7;
	border-color: #295;
	color: #163;
}

.motif-alert-error {
	background-color: #B74;
	border-color: #952;
	color: #631;
}

.motif-page {
	box-sizing: border-box;
	overflow: hidden;
}

.motif-page h1 {
	margin-bottom: 1rem;
}

.motif-page .CodeMirror {
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.motif-buttons {
	text-align: right;
	margin-top:  0.5rem;
}

.motif-button {
	background-color: black;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-weight: bold;
	border: 0;
	/*border-radius: 5px;*/
	padding: 1rem;
}
/*
.wide {
	flex: 1;
	display: flex;
	position: relative;
}

.wide .CodeMirror {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
*/

.page-settings {
	display: flex;
	flex-direction: column;
}

.page-settings textarea {
	resize: none;
	flex: 1;
}

ul.user-list {
	list-style: none;
	padding:  0;
}

ul.user-list li {
	/*padding-right: 1em;	*/
}

ul.user-list li:not(:last-child) {
	margin-bottom: 1em;
}

ul.user-list li span.author {
	flex-grow: 1;
	width: 100%;
}

ul.user-list li .avatar {
	flex-shrink: 0;	
}


/*# sourceMappingURL=app.css.map*/